html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    /* font-family: 'Bona Nova', serif; */
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/*for mobile phone*/
[class*="col-"] {
    width: 100%;
}


.row {
    width: 100%;
}

.row::after {
    content: '';
    clear: both;
    display: block;
}

/* header start */
header{
    background-color:#36b5b0;
    text-align: center;
    padding: 0% 1%;
}
.logo{
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: white;
    border-radius:50px;
    border: 2px solid white;
    text-align: center;
}
nav ul li{
    display: block;

}
nav ul li a{
    text-decoration: none;
    color: black;
    display: block;
    line-height: 70px;
    padding: 0px 20px;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: .4s;
    
} 
nav ul li a:hover{
    border-radius: 10px;
    background-color: #f09595;
}
/* header end */
  
 /* banner start */
 .bg-cover{
     background-image: url("images/banner-image.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
 }
 .bg-content{
     padding: 50px 10px;
     text-align: center;
 }
 .bg-content h1{
     
     margin: 15px auto;
     font-size: 3rem;
     padding: 10px;
     background-color: yellow;
     border-radius: 5px;

 }
 .bg-content p{
    background-color: green;
    color: white;
    width: 300px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
 }
 .btn{
     border: none;
     width: 160px;
     padding: 10px;
     background-color: rgba(0, 128, 0, 0.596);
     color: white;
     font-size: 1.3rem;
     border-radius: 5px;
     transition: .4s;
     cursor: pointer;
     text-transform: uppercase;

 }
 .btn:hover{
     transform: scale(1.2);
 }
 /* banner end */


 /* about us start */
 #About-Us{
     text-align: center;
     margin: 5px;
 }
 #About-Us h3{
     font-size: 3rem;

 }
 #About-Us p{
     text-align: justify;
     margin-top: 20px;
 }
 /* about us end */
 /* border box start */
#serdvice{
    padding: 1%;
}

.box-body{
    text-align: center;
    
}
.box-body img{
    max-width: 100%;
    display: block;
   
    
}
.box-content{
    background-color: rgba(0, 0, 0, 0.281);
}
.box-content h3{
    background-color: violet;
    color: white;
    padding: 10px;
    font-size: 2rem;

}
.box-content >p{
    font-size: 1rem;
    line-height: 20px;
    padding: 10px;
    
}
.box{
    transition: .4s;
    
}
.box:hover{
    transform: scale(1.1);
    
}

 /* border box end */

/* contact start */
#contact{
    background-color: hsl(244, 54%, 51%);
    padding: 1%;
}
.map{
    width: 100%;
    height: 250px;
}
.contact-details{
    text-align: center;
    padding: 10px 0;
    color: white;
    
}

.contact-details h3{
    font-size: 2rem;
    color: #d88577fb;
}
.contact-details h4{
    font-size: 1rem;
    color: violet;
}
.contact-details > span{
    font-size: 0.8rem;
}
footer{
    padding: 1%;
    background-color: #7c7cf3;

}
footer p{
    text-align: center;
}
.social-media{
    text-align: center;
    
    
}
.icon{
    font-size: 1.5rem;
    color: white;
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px;
    margin: 0 10px;
    transition: .4s;
   
}
.icon:hover{
    transform: scale(1.5);
}


/* contact end */

/* Small devices (portrait tablets and large phones, 576px and up) */
@media (min-width: 576px) {

    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }



}


/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }



}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .logo-div{
        text-align: left;
    }
    nav ul{
        text-align: right;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a{
        display: inline-block;
        transition: .4s;
    }
    nav ul li a:hover{
        background-color: transparent;
        text-decoration: underline;
        text-decoration-color: white;
        
    }

    .bg-content p{
        background-color: green;
        
        width: 500px;
       
        padding: 15px;
        
     }

     .bg-cover{
        position: relative;
        height: 100vh;
    }
    .bg-content{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .bg-content h1{
        width: 700px;
        
    }
    /* Large screen column width */
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }


   
}